@{
    ViewBag.Title = "Strona główna";
}
<div>
    <div class="col-md-4">
        <p><img src="@Url.Content("~/Images/gifmain.gif")" style="float:left" /></p>
        <p><img src="@Url.Content("~/Images/gifmain1.gif")" style="float:left" /></p>
    </div>
</div>
<div>
    <p><img src="@Url.Content("~/Images/advert.png")" width="620" style="float:right" /></p>
</div>