@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Koniec zakupów";
}

<center><h2>Dziękujemy za zakup w naszym sklepie....Reszte informacji prześlemy na podany<br /> adres e-mail</h2></center>
